    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*css for nav bar*/

.nav{
    padding: 20px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;

}

.nav_unorderlist{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_unorderlist li{
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    display: flex;

    margin-left: 40px;
    cursor: pointer;
}
.nav_unorderlist li a{
    color:black;
    text-decoration: none;
}
.nav_unorderlist li a.active{
    color: indianred;
}




/*css for index.html*/

.main-homepage{
    height: 90vh;
    display: flex;

}

.homepage{
    padding: 80px;
    width: 50%;
    background-color: #EEEDDE;
}
.homepage-image{
    width: 50%;
    /*background-color: skyblue;*/
background-image: url(./image/myphoto.jpg);
background-size: cover;

}
.hey{
    color: #0F0E0E;
    font-family: cursive;
    font-size: 30px;
    margin-top: 10px;
}
.name{
    color: black;
    font-family:consolas;
    font-size: 60px;
}
.syllabus{
    color: black;
    font-family: consolas;
    font-size: 20px;
}
.name span{
    color:indianred ;
}
.contact-button{
    width: 120px;
    /*background-color: indianred;*/
    padding: 10px;
    border: 2px solid indianred;
    border-radius: 2px;
    font-family: corbel;
    font-weight: bold;
    color: indianred;
}
  .contact{
    text-decoration: none;

}

.contact-button:hover{
    background-color: indianred;
    color: white;
}


/*footer*/

.footer{
    height: 100px;
    padding: 50px;
    text-align: center;
    background-color: #161616;
}
.footer-para{
    font-size: 18px;
    color: white;
}

/*Protfolio*/

.portfolio{
    width: 100%;
    height:  90vh;
    display: grid;
    grid-template-columns:auto auto ;
    grid-template-rows: 70px 500px auto ;
    }
    .head{
        grid-column: 1/-1;
        font-family:'Poppins', sans-serif;
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        border-top: 0.5px solid dimgray;
        border-bottom: 0.5px solid dimgray;
    }
.grid_image{
    grid-column: 1/span 1;

}
.about_me{
    border-left: 1px solid dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_me p{
    font-size: 23px;
    /*text-align: center;*/
    font-family: 'Poppins', sans-serif;
}
.about_me_name{
    color: indianred;
    font-size: 28px;
}
.affilation{
    grid-column: 1/-1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-top: 1px solid dimgray;
}

    /*contact page*/
    .contact_main{
        width: 100%;
        height: 76.9vh;
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: 35% 65%;


    }
    .contact_details{
        padding: 20px;
        display: flex;
        /*align-items: center;*/
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }
    .contact_details_detail{
        font-size: 18px;
        font-weight: bold;
        font-family:'Poppins', sans-serif;        
    }
    .contact_details_heading{
        font-size: 50px;
        font-family:'Poppins', sans-serif; 

    }
    .contact_details_subheading{
        font-size: 18px;
        font-family:'Poppins', sans-serif;
    }
    .contact_form{
        font-family:'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }
    .contact_form_form{
        background-color: black;
        width: 100%;
        padding: 20px;
        border-radius: 2px;
    }
    .contact_form_form input{
        background: transparent;
        width: 100%;
        height: 60px;
        padding: 5px;
        border: 0.5px solid gray;
        border-radius: 2px;
        color: white;
    }
    #contact_submit{
        width: 20%;
        background-color: indianred;
    }
     

     /*blog*/

     .blog_main{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
     }
     .blog_heading{
        text-align: center;
        font-family:'Poppins', sans-serif;
        padding: 20px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        border-bottom: 0.5px solid dimgray;


     }
     .blog_research{
        font-family:'Poppins', sans-serif;
        padding: 20px;
        font-size: 20px;
        border-right: 0.3px solid dimgray;

     }
     .blog_development{
        border-right: 0.3px solid dimgray;
        font-family:'Poppins', sans-serif;
        padding: 20px;
        font-size: 20px;

     }
     .blog_result{
        font-family:'Poppins', sans-serif;
        padding: 20px;
        font-size: 20px;


     }

     /*Site Report*/

     .sitereport_paragraph{
     padding:30px;   
     }
     



     .sitereport_report{
        font-size: 20px;
        margin-top: 10px;
        font-family:'Poppins', sans-serif;
      
     }
     .sitereport_heading{
         text-align: center;
         text-transform: uppercase;
         
     }
     .sitereport_gitimage{
        display: flex;
        padding: 30px;
     }
     
     .sitereport_gitimage img{
        width:50%;
        height: 500px;

     }
     .sitereport_gitimage_heading{
        text-align: center;
     }
      .sitereport_homepageimage img{
        width: 50%;
        height: 500px;
      }
      .sitereport_homepageimage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .sitereport_homepageimage_heading{
        text-align: center;
      }
      .reference_heading{
        text-align: center;
      }

