    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*css for nav bar*/

.nav{
    padding: 20px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;

}

.nav_unorderlist{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_unorderlist li{
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    display: flex;

    margin-left: 40px;
    cursor: pointer;
}
.nav_unorderlist li a{
    color:black;
    text-decoration: none;
}
.nav_unorderlist li a.active{
    color: indianred;
}




/*css for index.html*/

.main-homepage{
    height: 90vh;
    display: flex;

}

.homepage{
    padding: 80px;
    width: 50%;
    background-color: #EEEDDE;
}
.homepage-image{
    width: 50%;
    /*background-color: skyblue;*/
background-image: url(./image/road.jpg);
background-size: cover;

}
.hey{
    color: #0F0E0E;
    font-family: cursive;
    font-size: 30px;
    margin-top: 10px;
}
.name{
    color: black;
    font-family:consolas;
    font-size: 60px;
}
.syllabus{
    color: black;
    font-family: consolas;
    font-size: 20px;
}
.name span{
    color:indianred ;
}
.contact-button{
    width: 120px;
    /*background-color: indianred;*/
    padding: 10px;
    border: 2px solid indianred;
    border-radius: 2px;
    font-family: corbel;
    font-weight: bold;
    color: indianred;
}
  .contact{
    text-decoration: none;

}

.contact-button:hover{
    background-color: indianred;
    color: white;
}


/*footer*/

.footer{
    height: 100px;
    padding: 50px;
    text-align: center;
    background-color: #161616;
}
.footer-para{
    font-size: 18px;
    color: white;
}

